/* site regular theme */


.theme-regular {
    background-color: #190C21;
    color : #9566D1;
}

.theme-regular html {
  font-family: serif, TimesNewRoman, serif;
}

.theme-regular h1,
.theme-regular h2,
.theme-regular h3,
.theme-regular h4,
.theme-regular h5,
.theme-regular h6,
.theme-regular .page-title,
.theme-regular .post-title {
     font-family: TimesNewRoman, sans-serif;
     font-weight: 500;
     letter-spacing: 0rem;
     color: #3B6DD7;
}

.theme-regular strong,
.theme-regular abbr {
    color : #6800FC;
}

.theme-regular code{
    color : #6C5EEF;
}

.theme-regular .message,
.theme-regular blockquote,
.theme-regular .masthead-title small {
    color : #4468B3;
}

.theme-regular pre, /* snippets of highlighted code */
.theme-regular table,
.theme-regular .message,
.theme-regular code {
    background-color : #171717;
}

.theme-regular tbody tr:nth-child(odd) td,
.theme-regular tbody tr:nth-child(odd) th {
    background-color: #000;
}


.theme-regular .post-title a,
.theme-regular .post-date {
    color: #999;
}

.theme-regular .sidebar,
.theme-regular .sidebar-toggle:active,
.theme-regular #sidebar-checkbox:checked ~ .sidebar-toggle {
    background-color: #4468B3;
}
.theme-regular .container a,
.theme-regular .sidebar-toggle,
.theme-regular .related-posts li a:hover {
    color: #FFF;
}